In [ ]:
#  when we can repeat the code or process or program , 
#  then we can use the for loop or while loop .

In [ ]:
syntax

In [ ]:
for items in collection :
    print(items)

In [1]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [2]:
for i in l:
    print(i,end='\n')

1
2
3
4
5
6
7

In [5]:
for i in l:
    print(i,'\n',l)

1
 [1, 2, 3, 4, 5, 6, 7]
2
 [1, 2, 3, 4, 5, 6, 7]
3
 [1, 2, 3, 4, 5, 6, 7]
4
 [1, 2, 3, 4, 5, 6, 7]
5
 [1, 2, 3, 4, 5, 6, 7]
6
 [1, 2, 3, 4, 5, 6, 7]
7
 [1, 2, 3, 4, 5, 6, 7]

In [ ]:
Methods of for loops
pass 
break
continue

In [ ]:
pass method

In [7]:
a = 11
b = 12
if a>b :
    pass 
else :
    pass

In [ ]:
break method

In [8]:
l = [1,2,3,4,5,6,7]
for i in l :
    print(i)
    if i==3:
        break

1
2
3

In [18]:
l = [1,2,3,4,5,6,7]

for i in l :
    
    if i==3:
        break
    print(i)

1
2

In [ ]:
continue method

In [9]:
l = [1,2,3,4,5,6,7]
for i in l :
    print(i)
    if i==3:
        continue

1
2
3
4
5
6
7

In [19]:
l = [1,2,3,4,5,6,7]
for i in l :
    if i==3:
        continue
        print(i)

In [20]:
s = "sakshi"
for i in s :
    print(i)

s
a
k
s
h
i

In [ ]:
s = "sakshi"

In [22]:
for i in s :
    if i==3:
        continue
        print(i)
    else :
        print("else is available")

else is available
else is available
else is available
else is available
else is available
else is available

In [2]:
d = {'key':'value','name':'sakshi','age':22,'id':121}

In [3]:
for i in d :
    print(i)

key
name
age
id

In [4]:
for i in d :
    print(i," : ")

key  :
name  :
age  :
id  :

In [5]:
for i in d :
    print(i," : ",d[i])

key  :  value
name  :  sakshi
age  :  22
id  :  121

In [6]:
for i in range( 1, 10, 2) :
    print(i)

1
3
5
7
9

In [7]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [10]:
l = [1,2,3,4,5,6]

In [11]:
a = 5

In [12]:
for i in l :
    print(i * a,end = " ")

5 10 15 20 25 30

In [ ]:
write a python program to find factorial of given number

In [5]:
num = 5 
output = 1
for i in range (1,num+1) :
    output = output * i 
    print(output)
    print("This is final output", output)

1
This is final output 1
2
This is final output 2
6
This is final output 6
24
This is final output 24
120
This is final output 120

In [6]:
num = 5 
output = 1
for i in range (1,num+1) :
    output = output * i 
    print(output)
print("This is final output", output)

1
2
6
24
120
This is final output 120

In [7]:
num = 5 
output = 1
for i in range (1,num+1) :
    output = output * i 
print("This is final output", output)

This is final output 120

In [ ]:
write a python program to find tables of given number

In [8]:
num = 5
for i in range(1 ,11) :
    print(i*num)

5
10
15
20
25
30
35
40
45
50

In [9]:
num = 5
for i in range(1 ,11) :
    print(num , "*",i , "=" ,i*num)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
s = "Python"

In [12]:
for i in range (len(s)) :
    print(i,"-",s[i])

0 - P
1 - y
2 - t
3 - h
4 - o
5 - n

In [ ]:
# write a python program to print only capitals letter 
# in given strigs by using for loop

In [13]:
s = "SaKshIKurkuTE"

In [14]:
for i in s :
    if i.isupper()==True :
        print(i)

S
K
I
K
T
E

In [15]:
for i in s :
    if i.islower()==True :
        print(i)

a
s
h
u
r
k
u

In [ ]:
# write a python program to print deviation of upper letter and lower letter 
# in list format from the given string by using for loop

In [16]:
s1 = "SaKshIKurkuTE"

In [18]:
lower_letters = []
upper_letters = []

for i in s1 :
    if i.isupper()==True :
        upper_letters.append(i)
    else :
        lower_letters.append(i)
print(upper_letters)
print(lower_letters)

['S', 'K', 'I', 'K', 'T', 'E']
['a', 's', 'h', 'u', 'r', 'k', 'u']